.dropdown {
  display: none;
  position: absolute;

  left: 0;
  top: 100%;
  padding: 1.5rem 2rem;

  border: var(--border-dark);
  border-radius: var(--border-radius);

  background-color: var(--header-background-dark);

  z-index: 999;

  &__actions {
    display: flex;
    align-items: center;
  }

  &--open {
    display: block;
  }

  &__item {
    margin-bottom: 0.5rem;
  }
  &__item:last-child {
    margin-bottom: 0;
  }

  &__button {
    z-index: 10;
  }

  &__button-arrow {
    position: relative;
    top: 1px;

    margin-left: 0.3rem;

    transition: transform var(--transition);
  }

  &__button-arrow--open {
    transform: rotate(-180deg);
  }

}