@import './fonts.scss';
@import './reset.scss';

:root {
  --background-color-dark: #0d1117;
  --header-background-dark: #161b22;
  --border-dark: 0.1rem solid #30363d;
  --border-radius: 0.4rem;
  --button-background-dark: #21262d;
  --button-border-color-dark: #8b949e;

  --font-color-dark: #e6edf3;
  --font-montsserat: 'Montserrat', sans-serif;
  --font-nato-sans: 'Noto Sans', sans-serif;

  --outline-dark: 1px solid #7a977a;

  --blur: blur(2px);

  --transition: 0.2s;
}

html {
  font-size: 10px;
}

body {
  font-family: var(--font-montsserat);
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--font-color-dark);

  background-color: var(--background-color-dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-nato-sans);
  font-weight: 700;
}