.app-header {

  margin-bottom: 7rem;
  padding: 1.6rem 3.2rem;

  background-color: var(--header-background-dark);

  @media (max-width: 768px) {
    position: sticky;
    top: -1px;
  }

  &__desctop {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;

    align-items: center;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__mobile {
    //position: relative;
    display: none;

    @media (max-width: 768px) {
      display: flex;
      justify-content: center;
    }
  }
}
