.nav {
  display: flex;

  &__item {
    position: relative;

    margin-right: 1rem;

    transition: all 0.5s;

    &--blur {
      filter: var(--blur);
      opacity: 0.4;
    }
    
    &:last-child {
      margin-right: 0;
    }
  }

  &__link {

    transition: text-shadow var(--transition);

    &--active {
      text-shadow: 0px 0px 15px var(--font-color-dark);
      //color: #7a977a !important;
    }
  }

  &--direction-col {
    flex-direction: column;
  
    margin-bottom: 2rem;
  
    .nav__item {
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }
}
