.nav {
  display: flex;

  &__item {
    position: relative;

    margin-right: 1rem;

    transition: filter 0.7s;

    &--blur {
      filter: var(--blur);
      //opacity: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}